canvas {
	border:solid;
	width:100%;
    max-height:95vh;
    max-width:127vh;
}

label.maneuver {
	width: 40px;
	height: 40px;
}

div.options_colum {
}
div.maneuver_box {
	width:352px;
	position:relative;
}
.maneuver_content{
	text-align: center;
}

div.link_style *
{
    color: white;
}



.canvas_container{
	padding-top: 0.5rem;
	padding-left: 0.5rem;
}

.xwing_font{
	/*font-size: 0.875rem;*/
	font-family: XWing;
}
.buttons_area {
	width: 384px;
	position: absolute;
	padding-top: 0.5rem;
	padding-left: 1.0rem;
	padding-right: 1.0rem;
	padding-bottom: 1.0rem;
}

.link_style
{
    text-align:center;
}



.canvas_container {
	max-height:90vh;
	max-width:120vh;
	z-index:999;
	padding-top:0.25rem;
	padding-left:0.25rem;
	padding-right:5px;
	padding-bottom:0.25rem;
}

.top_block {
	height: 10px;
	width: 100%;
	position:fixed;
	z-index:998;	
}

.fixed_canvas {
	position:fixed;
    z-index:999;
}

.pure-drawer {
	overflow-y:auto
}

.padding-custom1 {
	padding-top:100px;
	padding-right:0rem;
	padding-left:0.25rem;
	padding-bottom:0.25rem;
}

.pure-drawer-thin{
	width:96px;
}
@media only screen and (min-width: 40.063em) {
  .pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'] {
    left: 96px;
  }
}

@media only screen and (min-width: 64.063em) {
  .pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'] {
    left: 96px;
  }
}
.btn-group-vertical{
	width:42px;
}

.control-label{
    width: 40px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    margin-bottom: 0;

}

 .pure-toggle-label-custom{
 	text-align:center;
 	line-height:50px;
 	font-size:35px;
 	height: 50px;
 	width: 50px;

 }

.form-group-custom{
    margin-bottom: 0.5rem;
}

.no_margin_label{
	margin-bottom: 0.0rem;
}


.options-group-style{
	width:306px;
}

.pure-drawer-thick{
	width:380px;
}
.pure-overlay-right-thick{
	right:380px;
}

.blue-maneuver {
	color: blue;
}

.red-maneuver {
	color: red;
}

.white-maneuver {
	color: black;
}

.top-buffer { margin-top:15px; }
.left-buffer { margin-left:15px; }
