canvas {
	border:solid;
	width:100%;
    max-height:95vh;
    max-width:127vh;
}

label.maneuver {
	width: 40px;
	height: 40px;
}

div.options_colum {
}
div.maneuver_box {
	height:250px;
	width:368px;
	position:relative;
}
.buttons_area_below {
	width:368px;
	position: absolute;
    /*left: 50%;
    margin-left: -184px;*/
}​
.buttons_area_right {
	width:368px;
	position: absolute;
}​

div.maneuver_content {
	position:absolute;
	bottom:0;
}

.canvas_container {
  max-height:90vh;
    max-width:120vh;
    margin:auto;
	padding-top:0.25rem;
	padding-left:0.25rem;
	padding-right:1.0rem;
	padding-bottom:0.25rem;
}
.canvas_container {
  max-height:90vh;
    max-width:120vh;
    margin:auto;
    z-index:999;
}

.fixed_header {
	position:fixed;
}

.pure-drawer {
	overflow-y:auto
}

.padding-custom1 {
	padding-top:100px;
	padding-right:0.25rem;
	padding-left:0.25rem;
	padding-bottom:0.25rem;
}

.pure-drawer-thin{
	width:100px;
}
@media only screen and (min-width: 40.063em) {
  .pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'] {
    left: 100px;
  }
}

@media only screen and (min-width: 64.063em) {
  .pure-toggle[data-toggle='left']:checked ~ .pure-overlay[data-overlay='left'] {
    left: 100px;
  }
}

.control-label{
	width:40px;
	text-align: center;

}

.options-group{
	width:85%;
}
.pure-drawer-thick{
	width:380px;
}
.pure-overlay-right-thick{
	right:380px;
}

.blue-maneuver {
	color: blue;
}

.red-maneuver {
	color: red;
}

.white-maneuver {
	color: black;
}

.top-buffer { margin-top:15px; }
.left-buffer { margin-left:15px; }
